*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

body{
    background-color:aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main{
    display: flex;
    flex-wrap: wrap;
}

h1{
    color: blueviolet;
    text-align: center ;
}

.tarjeta{
    background-color: rgb(186, 95, 154);
    width: 300px;
    border-radius: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 12px;
    border: 5px solid rgb(101, 12, 136);
    transition: all 0.4 ease-in-out;
}

.tarjeta:hover{
    background-color:burlywood;
    transform: scale(1.07);
    transform: rotate(3deg);
}

.tarjeta .imagen{
    width: 200px;
   
}

.tarjeta img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10%;
}

.tarjeta p{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#corgi{
    color: azure;
}

#pug{
    color: rgb(153, 239, 239);
}